/* 전체 페이지 스타일 */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #fff;
}

/* 포인트 컬러 */
.point_color {
	color: #00D084;
	background-color: #00D084;
}

/* 게시판 영역 */
.board_area {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

.page_name strong {
	font-size: 24px;
	color: #00D084;
}

.info_title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1000px;
    height: 100px;
    font-size: 28px;
    color:  #198754;
    border-bottom: 3.5px solid #00D084
 
}


/* 검색 정렬 관련 스타일 */
.search_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

/* 게시판 정렬 스타일 */
.boardSort {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.boardSort select {
	color: #333;
	margin-right: 10px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	font-size: 14px;
}

/* 드롭다운 목록의 옵션 스타일 */
.boardSort select option:checked {
	background-color: #00D084;
	color: #fff;
}

/* 검색 상자 스타일 */
.searchBox {
	display: flex;
	align-items: center;
}

.searchBox input[type="text"] {
	width: 240px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.searchBox select {
	margin-right: 5px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.searchBox button {
	margin-left: 5px;
	padding: 5px 10px;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #00D084; /* 추가적으로 포인트 컬러 적용 */
}

/* 글쓰기 버튼 스타일 */
#addButton {
	padding: 5px 10px;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 5px;
	background-color: #00D084; /* 추가적으로 포인트 컬러 적용 */
}

/* 좋아요 버튼 스타일 */
.like_button {
	width: 40px;
	height: 40px;
	background-image: url('/images/likebutton_off.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}

/* 게시물 목록 스타일 */
.boardMain {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	position: relative;
}

/* 개별 게시물 항목 스타일 */
.boardList {
	position: relative;
	flex: 0 0 calc(33.33% - 25.5px);
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

.entdShort p {
	width: 296px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	white-space: normal;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.entdShort p:hover {
	color: #00D084;
	cursor: pointer;
}

.boardList h3, .boardList h4, .boardList p {
	margin: 0;
	padding: 0;
}

.titlerate {
	display: flex;
	padding: 0;
}

.titlerate a {
	font-weight: bold;
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.titlerate a:hover {
	color: #00D084;
}

.titlenamediv {
	flex: 4.5;
	max-width: 251.83px;
}

.ratediv {
	flex: 1;
	font-size: 19px;
}

.boardList .memId {
	font-weight: bold;
}

.boardList {
	width: 100%;
	height: auto;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

 .boardImage {
	width: 100%;
	height: 150px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
 }

/* 작성일 표시 스타일 */
.boardList .boardDate {
	font-size: 14px;
	color: #888;
}

/* 페이지 번호 스타일 */
.page_number {
	text-align: center;
	margin-top: 20px;
}

.page_number a {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 5px;
	color: #333;
	text-decoration: none;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.page_number .prev, .page_number .next {
	font-weight: bold;
}

.page_number .prev:hover {
	background-color: #00D084;
	color: #fff;
}

.page_number .next:hover {
	background-color: #00D084;
	color: #fff;
}

.disabled {
	background-color: silver !important;
	pointer-events: none !important;
}

.page_number .page:hover {
	background-color: #00D084;
	color: #fff;
}

.page_number .active {
	background-color: #00D084;
	color: #fff;
	pointer-events: none !important;
}

/* 게시물 수정 페이지 스타일 */
.form_container {
	max-width: 500px;
	margin: 0 auto;
}

.form_container label {
	display: block;
	font-size: 16px;
	margin-bottom: 5px;
	color: #333;
}

.form_container textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.form_container input[type="text"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.form_container input[type="submit"] {
	padding: 10px 20px;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #00D084;
}

.form_container input[type="submit"]:hover {
	background-color: #00805a;
}

.star-active {
	color: #FBC02D;
	margin-bottom: 5px;
}

.star-active:hover {
	color: #F9A825;
	cursor: pointer;
}

.viewcount {
	font-size : 10px;
}