@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/*로그인, 회원가입, 회원정보찾기창 공통*/
#header {
    position: fixed;
    width: 100%;
    height: 18rem;
    background-color: #fff;
    z-index: 999;
}
#header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*로고 이미지*/
.max {
	height: 18rem;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
    margin: 0;
    padding: 0;
}
html {
    font-size: calc(0.42vw + 2px);
}
body {
	font-family: 'NanumSquareNeo-Variable';
	font-size: 1.6rem;
	line-height: 1.6;
	background: #fff;
}
* {
	box-sizing: border-box;
}
.page.page-account {
	padding-top: 20rem;
}
.container-mypage {
    max-width: 128rem;
    margin: 0 auto;
}
.row {
	margin-top: -1rem;
	margin-right: -0.75rem;
	margin-left: -0.75rem;
}
.row > * {
	padding-left: 45rem;
	padding-right: 45rem;
}
table:not(.ui-datepicker-calendar) {
    display: block;
    color: #999;
    font-size: 1.4rem;
}
table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
table:not(.ui-datepicker-calendar) tbody {
    display: block;
    width: 100%;
}
table:not(.ui-datepicker-calendar) tr {
    display: flex;
    flex-wrap: wrap;
}
table.type-full th {
    padding-bottom: 0.8rem;
}
table.type-full th,
table.type-full td {
    width: 100%;
}
table:not(.ui-datepicker-calendar) th {
	color: #666;
	font-weight: 500;
	line-height: 2.2rem;
}
table:not(.ui-datepicker-calendar) td {
    padding-bottom: 2.4rem;
}
table:not(.ui-datepicker-calendar) th,
table:not(.ui-datepicker-calender) td {
	font-weight: normal;
	text-align: left;
}
table:not(.ui-datepicker-calendar) td input {
    width: 100%;
}
input, select {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #000;
}
/*버튼*/
[class*="btn-"].full {
    width: 100%;
}
.btn-primary {
    color: #fff;
    background: #00d084;
    border: 1px solid #00d084;
    display: inline-block;
    height: 4.8rem;
    font-size: 1.6rem;
    line-height: 4.8rem;
    text-align: center;
    border-radius: 1rem;
    transition: opacity 0.3s ease-in-out, border 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
}
.btn-primary:hover {
	background: #fff;
	border: 1px solid #00d084;
	color: #00d084;
}
a {
    text-decoration: none;
}
/*여기까지 로그인, 회원가입, 회원정보찾기창 공통*/

/*로그인, 회원가입창 공통/ 회원정보찾기창은 여기서 text만 사용*/
input[type="text"], 
input[type="password"] {
	font-family: 'NanumSquareNeo-Variable';
	width: 100%;
	height: 4.8rem;
	font-size: 1.5rem;
	border: 1px solid #ddd;
	border-radius: 1rem;
	padding: 0 1.2rem;
}
/*여기까지 로그인, 회원가입창 공통*/

/*회원가입, 회원정보찾기창 공통*/
table:not(.ui-datepicker-calendar) p, 
table:not(.ui-datepicker-calendar) span {
    font-size: 1.4rem;
}
select {
    width: 100%;
    height: 4.8rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: 1px solid #ddd;
    background: url(/images/icon_select_arrow.svg) no-repeat 99% 50%;
    padding: 0 1.2rem;
    font-family: 'NanumSquareNeo-Variable';
}
option {
	border-radius: 1rem;
}
table tr input[type="radio"] {
    top: 0.25rem;
    width: 1.6rem !important;
    height: 1.6rem !important;
    margin-right: 0.7rem;
    position: relative;
    background: url(/images/icon_input_radio_off.svg) no-repeat center;
    background-size: 100%;
}
table tr.radio label {
    color: #000;
    margin-right: 1.5rem;
}
/*휴대폰*/
table tr.mobile td {
    display: flex;
    flex-wrap: wrap;
    line-height: 4.8rem;
}
table tr.mobile td [name^="mobile"]:first-child {
    margin-left: 0;
    border-radius: 1rem;
}
table tr.mobile td [name^="mobile"] {
    margin: 0 0.5rem;
    flex-grow: 1;
    flex-basis: 25%;
}
.input-btn-box {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
/*여기까지 회원가입, 회원정보찾기창 공통*/