@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

aside {
	position: absolute;
	text-align:center;
	padding: 10px;
	border: 2px solid #00d084;
	top: 200px;
	left: -150px;
	border-radius: 10px;
}

aside li{
	margin: 5px;
	/* border-bottom: 1px solid #b2b2b2; */
	font-size: 15px;
}

aside li:hover{
	color: #00d084;
}

.containers {
	display:flex;
	justify-content:center;
	align-items:center;
}

article {
	float:left; /* 가로 정렬 */
	border: 1px solid lightgrey;
	border-radius: 20px;
	margin: 50px;
	padding : 20px;
	width: 700px;
	height: auto;
	position: relative;
}

.forminheader {
	border-bottom: 1px solid lightgrey;
	margin-bottom: 70px;
}

.forminheader h2{
	text-align: center;
	margin: 60px auto 0px auto;
}

.forminheader p{
	text-align: center;
	font-size: 10px;
	margin: 10px auto 10px auto; /*위 우 아래 좌*/

}

article h2{
	text-align: left;
	margin: 60px 20px 0px 130px;
}

article p{
	text-align: left;
	font-size: 10px;
	margin: 10px 20px 10px 128px;
}

.formindiv {
	margin : 20px auto;
	width : 400px;
}

.formindiv>p {
	font-size : 13px;
	line-height : 12px;
	margin:8px 0px 8px 2px; /*위 우 아래 좌*/
	color: #666;
}

input[type=text] {
	font-family: 'NanumSquareNeo-Variable';
	border: 1px solid lightgrey;
	border-radius: 8px;
	height: 30px;
	padding: 5px 10px;
	width: 378px;
	margin-bottom: 9px;
}

input[type=tel] {
	font-family: 'NanumSquareNeo-Variable';
	border: 1px solid lightgrey;
	border-radius: 8px;
	height: 30px;
	padding: 5px 10px;
	width: 378px;
	margin-bottom: 9px;
}

input[type=password] {
	font-family: 'NanumSquareNeo-Variable';
	border: 1px solid lightgrey;
	border-radius: 8px;
	height: 30px;
	padding: 5px 10px;
	width: 378px;
	margin-bottom: 9px;
}

input[type=url] {
	font-family: 'NanumSquareNeo-Variable';
	border: 1px solid lightgrey;
	border-radius: 8px;
	height: 30px;
	padding: 5px 10px;
	width: 378px;
	margin-bottom: 9px;
}

input:focus {
	border: 2px solid #00d084;
	outline: 0;
}

input:disabled {
    background: #F0F0F0;
}

#emailinner {
	display:inline-block;
	justify-content:space-between;
	align-items: center;
}

#emailinner > input[type='text']{
	width: 100px;
}

select {
	border: 1px solid lightgrey;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 5px 15px;
	width: 125px;
	height: 37px;
}

.inputType{
font-family: 'NanumSquareNeo-Variable';
	border: 1px solid lightgrey;
	border-radius: 8px;
	height: 30px;
	padding: 5px 10px;
	width: 378px;
	margin-bottom: 9px;
	resize: none;
}

.inputTypeLong {
	font-family: 'NanumSquareNeo-Variable';
	border: 1px solid lightgrey;
	border-radius: 8px;
	height: 70px;
	padding: 5px 10px;
	width: 378px;
	resize: none;
}

.inputTypeLong:focus {
	border: 2px solid #00d084;
	outline: 0;
}

input[type=file]::file-selector-button {
	font-family: 'NanumSquareNeo-Variable';
	font-size: 12px;
	height: 40px;
	width: 80px;
	border: 1px solid #ddd;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
	margin-top: 5px;
	margin-right: 1rem;
	margin-bottom: 5px;
}

.help {
    font-size: 12px;
    color: #999;
    background: url(/images/icon_table_help.svg) no-repeat 0 1px;
    background-size: 20px 10px;
    padding-left: 20px;
    margin-top: 10px;
    width: 100%;
    height: 20px;
}

img {
    border: none;
    vertical-align: top;
}

.numCount {
	font-size: 10px;
	color: #808080;
	margin:0px 0px 0px 350px; /*위 우 아래 좌*/
}

#updateBtn {
	font-family: 'NanumSquareNeo-Variable';
	background-color: #198754;
	border: 1px solid #198754;
	border-radius: 8px;
	color: white;
	padding: 10px 40px;
	width:400px;
	height: 40px;
	margin-top:15px;
	margin-bottom:40px;
}

#updateBtn:hover {
	font-family: 'NanumSquareNeo-Variable';
	background-color: white;
	border: 1px solid #157347;
	color: #157347;
}