@charset "UTF-8";
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css");

* { font-family: 'NanumSquareNeo'; }

aside {
	float:left;
	width: 110px;
	height: 90px;
	text-align:center;
	margin: 200px 0px 0px 0px;
	padding-left:300px;
}

aside li{
	margin: 5px;
	/* border-bottom: 1px solid #b2b2b2; */
	font-size: 12px;
}

aside li:hover{
	margin: 5px;
	/* border-bottom: 1px solid #b2b2b2; */
	font-size: 12px;
	color: #00d084;
}

#menusList {
	width: 110px;
	height: 45px;
	border: 1px solid lightgrey;
	border-radius: 15px;
	margin: auto auto auto -50px;/*위 우 아래 좌*/
}

input:disabled {
    background: #F0F0F0;
}

.containers {
	display:flex;
	justify-content:center;
	align-items:center;
	width: 700px;
}

article {
	border: 1px solid lightgrey;
	border-radius: 20px;
	margin: 50px auto;
	padding : 20px;
	width: 700px;
	height: 1550px;
}

article h2{
	text-align: left;
	margin: 60px 20px 0px 130px;
}

article p{
	text-align: left;
	font-size: 10px;
	margin: 10px 20px 70px 130px; /*위 우 아래 좌*/
}

.formindiv {
	margin : 15px auto;
	width : 400px;
}

.formindiv>p {
	font-size : 12px;
	line-height : 12px;
	margin:5px 0px 5px 10px; /*위 우 아래 좌*/
}

input {
	border: 1px solid lightgrey;
	border-radius: 15px;
	height: 25px;
	padding: 5px 10px;
	width: 378px;
}

input:focus {
	border-color:#00d084;
	outline: 0;
}

#emailinner {
	display:inline-block;
	justify-content:space-between;
	align-items: center;
}

#emailinner > input[type='text']{
	width: 100px;
}

select {
	border: 1px solid lightgrey;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 5px 10px;
	width: 125px;
	height: 37px;
}

#updateBtn {
	background-color: #00d084;
	border: 1px solid #00d084;
	border-radius: 15px;
	color: white;
	padding: 10px 40px;
	width:400px;
	height: 40px;
	margin-top:15px;
}

#updateBtn:hover {
	background-color: white;
	border: 1px solid #00d084;
	color: #00d084;
}