@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#container {
	margin-top: 9rem;
}
table tr.mobile td [name^="crn"]:first-child {
    margin-left: 0;
    border-radius: 1rem;
}
table tr.mobile td [name^="crn"] {
	margin: 0 0.5rem;
    flex-grow: 1;
    flex-basis: 25%;
}