@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'NanumSquareNeo-Variable';
}

/*초기화*/
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none; /*밑줄 없애기*/
	color: inherit; /*색변화x*/
}

ul, li {
	list-style: none; /*구분점 없애기*/
}

.navbar {
	display: flex; /* 박스 가로로 */
	justify-content: space-between; /*박스 사이에 빈공간*/
	margin: 0 auto; /*위아래 간격 0, 좌우간격 자동*/
	border-bottom: 2px solid #00d084;
}

.navbarLogo {
	display: flex;
	align-items: center;
}

.navbarLogo img {
	width: 200px; /*로고 사이즈 조절*/
}

.navbarMenu {
	display: flex; /*세로로 되어 있는 것을 가로로 변경*/
	font-size: 16px; /*글씨크기*/
}

.navbarMenu li {
	display: flex; /*내부요소 수직 정렬 하기위해 사용*/
	align-items: center; /*박스들 수직 가운데 정렬*/
}

.navbarMenu a {
	display: flex; /*설정 안하면 인라인 블록상태라 width가 안먹힘*/
	justify-content: center; /*요소 가로 가운데 정렬*/
	width: 150px; /*가로 길이 통일 시키기 위해 사용*/
}

.navbarSub {
	display: none; /* 드롭다운 메뉴 초기에는 숨김 */
	position: absolute; /* 절대 위치 지정 */
	font-size: 15px;/*글씨크기*/
	background-color: #ffffff;
	width: 148px;/*너비 조절*/
	text-align: center;
	border: 2px solid #00d084;
	border-radius : 0px 0px 10px 10px;
	border-top: 0px;
	top: 88px;/*윗쪽 공간을 줘 위치 조절*/
	z-index: 10000;
}

/* 마우스 호버 시 드롭다운 메뉴 표시 */
.navbarMenu li:hover .navbarSub {
	display: block;
}

.navbarSub a {
	display: block;
	padding: 10px;
}

.navbarSub a:hover {
	background-color: #e4fff5;
	border-radius : 10px 10px 10px 10px;
}

.navbarProfile {
	display: flex; /*세로로 되어 있는 것을 가로로 변경*/
	align-items: center; /*박스들 수직 가운데 정렬*/
	font-size: 15px;/*글씨크기*/
}

.navbarProfile li {
	padding: 8px 30px; /*위아래 8px, 좌우 30px*/
}