@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 300;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.ttf') format("truetype");
    font-display: swap;
} 
* {
	font-family: 'NanumSquareNeo';
	
}

.info_title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    height: 190px;
    font-size: 44px;
    color: #212529;
    
    
}
.info_cata{
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    justify-content: space-between;
}
.writingform{
	 display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}




.post_container{
    display: flex;
    align-items: center;
    width: 1200px;
    height: 220px;
    margin: 0 auto;
    padding-bottom: 40px;
    border-bottom: 1px solid #e6e6e6;
    
    
}
.post_image img{
    width: 350px;
    height: 175px;
    border-radius: 15px;
}
.post_text{
    padding-left: 20px;
    
}
.post_tit{
	margin: 7px 0px;
}
.post_tit a{
    font-size: 22px;
    color: #222;
    text-decoration: none;
}
.post_date_wrap{
	margin: 15px 0px;
}
.post_date{
    color: #9E9E9E;
    font-size: 18px;
}
.post_contents{
    color: #363636;
    font-size: 16px;
}
.pagination{
	    text-align: center;
		margin-top: 50px;
		
}
.pagenumber{
	margin-right: calc( 10px/2 );
	margin-left: calc( 10px/2 );
	text-decoration: none;
	color: #9E9E9E;
	font-size: 20px;
}