@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#container {
	margin-top: 13rem;
}
.xans-member-login .id-pw-td {
    display: flex;
    justify-content: space-between;
}
table tr input[type="checkbox"] {
    /*top: 0.25rem;*/
    width: 1.6rem !important;
    height: 1.6rem !important;
    margin-right: 0.5rem;
}
input[type="checkbox"] {
    position: relative;
    top: 3.5px;
    width: 1.6rem;
    height: 1.6rem;
    background: url(/images/icon_input_checkbox_off.svg) no-repeat center;
    background-size: 100%;
}
.checkbox-icon.checked {
  background-image: url(/images/icon_input_checkbox_on.svg);
}
input[type="checkbox"] + label {
    font-size: 1.3rem;
    margin-left: 0.8rem;
}
.xans-member-login .find {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}
.xans-member-login .find li:nth-child(2) {
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}
.xans-member-login .find li {
    padding: 0 1.6rem;
    line-height: 1;
    color: #444;
    font-size: 1.3rem;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}