@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

aside {
	position: absolute;
	text-align:center;
	padding: 10px;
	border: 2px solid #00d084;
	top: 200px;
	left: -150px;
	border-radius: 10px;
}

aside li{
	margin: 5px;
	/* border-bottom: 1px solid #b2b2b2; */
	font-size: 15px;
}

aside li:hover{
	font-size: 15.5px;
	color: #00d084;
}

.containers {
	display:flex;
	justify-content:center;
	align-items:center;
}

article {
	float:left; /* 가로 정렬 */
	border: 1px solid lightgrey;
	border-radius: 20px;
	margin: 50px;
	padding : 20px;
	width: 700px;
	height: 650px;
	position: relative;
}

.forminheader {
	border-bottom: 1px solid lightgrey;
	margin-bottom: 35px;
}

.forminheader h2{
	text-align: center;
	margin: 60px auto 0px auto;
}

.forminheader p{
	text-align: center;
	font-size: 10px;
	margin: 10px auto 10px auto; /*위 우 아래 좌*/

}

.formindiv {
	margin : 15px auto;
	width : 400px;
}

.formindiv>p {
	font-size : 13px;
	line-height : 12px;
	margin:8px 0px 8px 9px; /*위 우 아래 좌*/
}

input {
	font-family: 'NanumSquareNeo-Variable';
	border: 1px solid lightgrey;
	border-radius: 1rem;
	height: 25px;
	padding: 5px 10px;
	width: 378px;
}

input:focus {
	border: 2px solid #00d084;
	outline: 0;
}

input:disabled {
    background: #F0F0F0;
}

#emailinner {
	display:inline-block;
	justify-content:space-between;
	align-items: center;
}

#emailinner > input[type='text']{
	width: 100px;
}

select {
	border: 1px solid lightgrey;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 5px 10px;
	width: 125px;
	height: 37px;
}

#updateBtn {
	font-family: 'NanumSquareNeo-Variable';
	background-color: #00d084;
	border: 1px solid #00d084;
	border-radius: 1rem;
	color: white;
	padding: 10px 40px;
	width:400px;
	height: 40px;
	margin-top:15px;
	margin-bottom:40px;
}

#updateBtn:hover {
	background-color: white;
	border: 1px solid #00d084;
	color: #00d084;
}