@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*초기화*/
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none; /*밑줄 없애기*/
	color: inherit; /*색변화x*/
}

ul, li {
	list-style: none; /*구분점 없애기*/
}

aside {
	position: absolute;
	text-align:center;
	padding: 10px;
	border: 2px solid #00d084;
	top: 200px;
	left: -150px;
	border-radius: 10px;
}

aside li{
	margin: 5px;
	/* border-bottom: 1px solid #b2b2b2; */
	font-size: 15px;
}

aside li:hover{
	color: #00d084;
}

.containers {
	display:flex;
	justify-content:center;
	align-items:center;
}

article {
	border: 1px solid lightgrey;
	border-radius: 20px;
	margin: 50px;
	padding : 20px;
	width: 700px;
	position: relative;
}

.myinfoheader {
	border-bottom: 1px solid lightgrey;
	margin-bottom: 35px;
}

.myinfoheader h2{
	text-align: center;
	margin: 60px auto 0px auto;
}

.myinfoheader p{
	text-align: center;
	font-size: 10px;
	margin: 10px auto 10px auto; /*위 우 아래 좌*/
}

#myinfo {
	/* margin-left:50px; */
	width: 400px;
	height: 250px;
	font-size: 15px;
	margin: 0px 40px 30px 150px;/*위 우 아래 좌*/
}

table tr td:nth-child(1){
	padding:10px;
	border: 3px solid ligthgrey;
	width:150px;
	color: #414141;
}

table tr td:nth-child(2){
	padding:10px;
	width:500px;
	color: #414141;
}

.bt_wrap{
	width:500px;
	padding: 0px 0px 0px 130px;/*위 우 아래 좌*/
	margin-bottom: 20px;
	margin-top: -10px;
	
}

#updateUser {
	font-family: 'NanumSquareNeo-Variable';
	background-color: #198754;
	border: 1px solid #198754;
	border-radius: 8px;
	color: white;
	padding: 10px 40px;
	margin: auto 10px;
	width:200px;
	height: 40px;
}

#updateUser:hover {
	background-color: white;
	border: 1px solid #157347;
	color: #157347;
}

#deleteUser {
	font-family: 'NanumSquareNeo-Variable';
	background-color: #e7e7e7;
	border: 1px solid #e7e7e7;
	border-radius: 8px;
	color: white;
	padding: 10px 40px;
	margin: auto 10px;
	width:200px;
	height: 40px;
	
	text-decoration:none;
	text-align:center;
	color: #b2b2b2;
	font-size: 13px;
	margin: 0px auto;
}

#deleteUser:hover {
	background-color: #b2b2b2;
	border: 1px solid #b2b2b2;
	color: black;
}

.container {
	display: flex;
	flex-flow:wrap;
	width:700px;
	gap:5px;
}

.container a {
	display: flex;
    position: relative;
    flex: 0 0 calc(33.33% - 25.5px);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.brandTitle {
	display: flex;
	font-weight: bold;
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break:break-all;
    white-space: nowrap;
}

.brandName {
	flex: 4.5;
}

.star-active {
	color: #FBC02D;
}

.brandStar {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.brandImage {
    width: 208px;
    height: 156px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.brandCont {
	width: 208px;
	overflow:hidden;
    text-overflow:ellipsis;
    word-break:break-all;
    white-space: nowrap;
}

.board_list {
    width: 700px;
/*     border-top: 2px solid #000; */
    margin: 0 auto;
    text-decoration: none;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #999;
}

.board_list .top {
	display: flex;
	padding: 15px 0;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.board_list .num {
    flex : 1;
    text-align: center;
}

.board_list .title {
    flex : 5;
    text-align: left;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.board_list .top .title {
    text-align: center;
}

.board_list .writer {
    flex : 2;
    text-align: center;
}

.board_list .date {
    flex : 2;
    text-align: center;
}

.likeboard p {
	text-align:center;
	padding: 15px 0;
}

.likeboardlist {
	display: flex;
	padding: 15px 0;
    font-size: 12px;
    text-align: center;
}

.board_list2 {
    width: 700px;
/*     border-top: 2px solid #000; */
    margin: 0 auto;
    text-decoration: none;
}

.board_list2 > div {
    border-bottom: 1px solid #ddd;
}

.board_list2 > div.top {
    border-bottom: 1px solid #999;
}

.board_list2 > div:last-child {
    border-bottom: 1px solid #999;
}

.board_list2 .top {
    display: flex;
	padding: 15px 0;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.board_list2 .num {
    flex : 1;
    text-align: center;
}

.board_list2 .title {
    flex : 7;
    text-align: left;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.board_list2 .top .title {
    text-align: center;
}

.board_list2 .date {
    flex : 2;
    text-align: center;
}

.myboard p {
	text-align:center;
	padding: 15px 0;
}

.myboardlist {
	display: flex;
	padding: 15px 0;
    font-size: 12px;
    text-align: center;
}

/* 페이지 번호 스타일 */
.page_number {
    text-align: center;
    margin-top: 20px;
}

.page_number a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.page_number .prev, .page_number .next {
    font-weight: bold;
}

.page_number .prev:hover {
	background-color: #00D084;
    color: #fff;
}

.page_number .next:hover {
	background-color: #00D084;
    color: #fff;
}

.disabled {
	background-color: silver !important;
	pointer-events: none !important;
}

.page_number .page:hover {
    background-color: #00D084;
    color: #fff;
}

.page_number .active {
    background-color: #00D084;
    color: #fff;
    pointer-events: none !important;
}

