<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
	<typeAlias type="dto.BoardDTO" alias="boardDto"/>
	<typeAlias type="dto.BannerDTO" alias="bannerDto"/>
	<typeAlias type="dto.BoardCommentDTO" alias="boardCommentDto"/>
	<typeAlias type="dto.BoardLikeDTO" alias="boardLikeDto"/>
	<typeAlias type="dto.BrandCommentDTO" alias="brandCommentDto"/>
	<typeAlias type="dto.EnterpriseBookmarkDTO" alias="enterpriseBookmarkDto"/>
	<typeAlias type="dto.EnterpriseDTO" alias="enterpriseDto"/>
	<typeAlias type="dto.FileDTO" alias="fileDto"/>
	<typeAlias type="dto.MemberDTO" alias="memberDto"/>
	<typeAlias type="dto.AdminDTO" alias="adminDto"/>
</typeAliases>
</configuration>